body {
    margin: 50px;

}

img {
    width: 200px;
    height: 600px;
    object-fit: cover;
    border-radius: 50px;
    float: left;
    margin-right: 50px;
}

p.Name {
    font-weight: bold;
}

em {
    color: red;
    font-style: italic;
}

#title {
    color: blueviolet;
    border: 1px rgb(0, 0, 0);
}

.product {
    background-color: teal;
    width: 300px;
}

.container {
    background-color: peru;
    width: 500px;
}


/* This searches for things that have github and makes it orange */
a[href*="github"] {

    color: orange;
}

a:visited,
a:link {
    color: black;
}

a:hover,
a:focus {
    color: deeppink
}


::selection {
    background-color: pink;
}

p::before {
    content: "...";
    display: block;
}

#products {
    color: green;
}

.box {
    width: 800;
    height: 800px;
    background: radial-gradient(circle at top right, black, red);
    box-shadow: 50px;
    border-radius: 20px;
}