body {
    background: url(../Images/64502.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(162, 182, 169);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(244, 238, 213);
    font-size: 10vw;
    border-radius: 10%;
}

.heading {
    position: fixed;
    top: 1%;
    left: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(207, 191, 159, 1);
    height: 5vh;
    width: 90vw;
    border-radius: 20px;
}

.linkholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 225, 218);
    border-radius: 25px;
    width: 20vh;
    height: 70%;
    overflow: hidden;


}

.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* color: rgb(162, 182, 169); */
    color: darkgray;

}

.description {
    color: black;
    font-size: 2vw;
}

a:visited {
    color: rgb(162, 182, 169);
    color: darkgray;

}

.pictureholder {
    display: flex;
    flex-direction: column;
    border: 3px;
    border-color: black;
    border-style: solid;
    height: 90vh;
    justify-content: center;
    align-items: flex-start;

}

.headshot {
    position: absolute;
    width: 200px;
    height: 600px;
    object-fit: cover;
    border-radius: 50px;
    float: left;

}