body {
    background: url(../Images/64502.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(68, 76, 71);
    -webkit-text-stroke-width: .1vw;
    -webkit-text-stroke-color: rgb(244, 238, 213);
    font-size: 7vw;
}

.subtitle {

    color: red;
    font-size: 1.5vw;
    font-weight: 600;

}

.heading {
    position: fixed;
    top: 1%;
    left: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(207, 191, 159, 1);
    /* background: rgb(156, 180, 164); */
    /* background: linear-gradient(90deg, rgba(156, 180, 164, 1) 20%, rgba(220, 227, 221, 1) 40%, rgba(250, 240, 214, 1) 60%, rgba(216, 201, 174, 1) 80%); */
    height: 5vh;
    width: 90vw;
    border-radius: 20px;
}

.linkholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 225, 218);
    border-radius: 25px;
    width: 8vw;
    height: 70%;
    white-space: nowrap;
    overflow: hidden;
    font-size: medium;

}

.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    font-size: 1vw;
    color: rgb(60, 60, 60);
}

.description {
    color: black;
    font-size: 2vw;
}

a:visited {
    color: rgb(60, 60, 60);
}

.pictureholder {

    /* border: 3px;
    border-color: black;
    border-style: solid; */
    height: 90vh;
    justify-content: center;
    width: 20vw;


}

.about-page {
    position: fixed;
    top: 8%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: x-large;

}

.headshot {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    float: left;
}

.about-description {
    height: 100%;
    margin: 30px 15px;
    border-color: rgb(244, 238, 213);
    padding: 10px;
    border-style: solid;
    width: 60vw;
    overflow: auto;
    color: rgb(49, 49, 49);
}

.link-sub {
    width: 15vw;
}

.project-nav {
    position: fixed;
    top: 7%;
    left: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(207, 191, 159, 1);
    height: 3vh;
    width: 70vw;
    border-radius: 20px;
}

.no-picture {
    background: rgb(181, 198, 186);
    background: linear-gradient(100deg, rgba(181, 198, 186, 1) 0%, rgba(196, 205, 188, 1) 100%);
}

/* 
.video-holder {
    border: 3px;
    border-color: black;
    border-style: dashed;
    width: 20vw;
    height: 20vh;
} */